# dependencias
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
coverage/
next-env.d.ts

# entorno y secretos
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# sistema operativo / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# bases de datos locales
*.sqlite
*.db
